<div class="container mx-auto flex flex-col items-center justify-center pb-24 md:pt-[100px] md:pb-[100px]">
    <div class="h-[20rem] flex items-center justify-center bg-contain bg-center bg-no-repeat p-12" style="background-image:url('/assets/404-bg.png');">
        <h1 class="!text-[8rem] lg:!text-[12.5rem] text-[#384250] relative z-10 text-center dark:text-white">404</h1>
    </div>
    <div class="mt-[32px] lg:mt-[64px] flex flex-col items-center mx-auto">
        <p class="text-[#161616] dark:text-white text-[24px] font-[500] text-center">لقد حدث خطأ ما</p>
        <p class="text-[#161616] dark:text-white text-[18px] mt-[15px] text-center">نأسف، لا يمكننا العثور على الصفحة التي تبحث عنها.</p>
        <a href="/" class="bg-[#1B8354] hover:bg-[#1f714c] mt-[2rem] w-[8.5625rem] h-[2.5rem] flex items-center justify-center rounded-[0.25rem]">
            <p class="text-white text-base">العودة إلى الصفحة الرئيسية</p>
        </a>
    </div>
</div>


<style>
    #feedback-section {
        display: none;
    }
</style>