<!-- HERO SECTION STARTS -->
<section class="swiper hero-slider w-full h-[31.25rem] md:h-[80vh] relative">
    <div class="swiper-wrapper">
        {{ collection from="{collection}" sort="date:desc" }}
        {{ if related_taxonomy_title }}
            {{ if select_sport == related_taxonomy_title }}
                <div class="swiper-slide !flex items-center swiper-slide-bg bg-cover bg-center h-full relative"
                    style="background-image: url('{{ image }}')">
                    <div class="overlay absolute top-0 left-0 w-full h-full bg-[rgba(16,33,21,0.8)] z-[1] opacity-50"></div>
                    <div class="container-custom hero-text text-white z-[2] relative {{if alignment == "Center"}} flex flex-col items-center justify-center {{/if}}">
                        <h1 class="hero_slider_heading text-3xl md:text-[3rem]">{{ title }}</h1>
                        <p class="hero_slider_description w-full lg:w-[50%] mt-6 mb-8">
                            {{ content | strip_tags | safe_truncate(90, '...') }}
                        </p>
                        <div class="flex flex-col md:flex-row md:items-center gap-2">
                        
                            <a 
                            {{if !popup}} href="{{ url }}" {{/if}} 
                            target="_blank" 
                            class="{{if popup}} info-popup-trigger {{/if}} btn-primary !bg-white !text-black w-fit cursor-pointer"
                            {{if popup}}
                            data-image="{{ image }}"
                            data-title="{{ title }}"
                            data-address="{{ city }}"
                            data-link="{{ url }}"
                            data-location="{{ map_link }}"
                            data-date="{{if yearly == "Annually" }} {{ start_date iso_format="MMMM YYYY" }} {{else}} {{ start_date iso_format="MMMM Do YYYY" }} {{/if}}"
                            data-age="{{ age }}"
                            data-gender="{{gender}}"
                            {{/if}}
                            >
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            {{ /if }}
            {{ else }}
            <div class="swiper-slide !flex items-center swiper-slide-bg bg-cover bg-center h-full relative"
            style="background-image: url('{{ image }}')">
            <div class="overlay absolute top-0 left-0 w-full h-full bg-[rgba(16,33,21,0.8)] z-[1] opacity-50"></div>
            <div class="container-custom hero-text text-white z-[2] relative {{if alignment == "Center"}} flex flex-col items-center justify-center {{/if}}">
                <h1 class="hero_slider_heading">{{ title }}</h1>
                <p class="hero_slider_description w-full lg:w-[50%] mt-6 mb-8">
                    {{ content | strip_tags | safe_truncate(90, '...') }}
                </p>
                <div class="flex flex-col md:flex-row md:items-center gap-2">
                
                    <a 
                    {{if !popup}} href="{{ url }}" {{/if}} 
                    target="_blank" 
                    class="{{if popup}} info-popup-trigger {{/if}} btn-primary !bg-white !text-black w-fit cursor-pointer"
                    {{if popup}}
                    data-image="{{ image }}"
                    data-title="{{ title }}"
                    data-address="{{ city }}"
                    data-link="{{ url }}"
                    data-location="{{ map_link }}"
                    data-date="{{if yearly == "Annually" }} {{ start_date iso_format="MMMM YYYY" }} {{else}} {{ start_date iso_format="MMMM Do YYYY" }} {{/if}}"
                    data-age="{{ age }}"
                    data-gender="{{gender}}"
                    {{/if}}
                    >
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {{ /if }}
        {{ /collection }}


    </div>
    {{if slides:count > 1}}
    <!-- Add pagination for bullet navigation -->
    <div class="swiper-pagination hero-pagination pb-3"></div>
    {{/if}}
</section>

<!-- HERO SECTION ENDS -->

