<div class="flex items-center justify-end">
    <select id="sports-filter-dropdown" name="sports-filter"
        class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        onchange="location.href=this.value">
        <option value="" disabled selected>Select a sport</option>
        {{ nav:sport_filter }}
            <option value="{{ url }}">{{ title }}</option>
        {{ /nav:sport_filter }}
    </select>
</div>