<!-- Image Popup -->
<div id="imgPopupContainer" class="hidden fixed inset-0 z-50">
    <!-- Backdrop -->
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    
    <!-- Popup Content -->
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-11/12 md:w-3/4 lg:w-2/3 max-h-[90vh] bg-black rounded-lg shadow-xl">
      <!-- Close Button -->
      <button id="imgPopupClose" class="absolute -top-4 -right-4 bg-white rounded-full p-2 shadow-lg z-10">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
      
      <!-- Image Container -->
      <div class="relative w-full h-full">
        <img id="imgPopupImage"
          class="w-full h-[400px] object-contain rounded-lg"
          src=""
          alt="{{ image:alt }}">
      </div>
    </div>
  </div>