 {{ if slides }}
     <!-- HERO SECTION STARTS -->
     <section class="swiper hero-slider w-full h-[31.25rem] md:h-[80vh] relative">
         <div class="swiper-wrapper">
             {{ slides }}
                 <div class="swiper-slide !flex items-center swiper-slide-bg bg-cover bg-center h-full relative"
                     style="background-image: url('{{ background_image }}')">
                     <div class="overlay absolute top-0 left-0 w-full h-full bg-[rgba(16,33,21,0.8)] z-[1] opacity-5"></div>
                     <div class="container-custom hero-text text-white z-[2] relative {{if alignment == "Center"}} flex flex-col items-center justify-center {{/if}}">
                         <h1 class="hero_slider_heading">{{ title }}</h1>
                         <p class="hero_slider_description w-full lg:w-[50%] mt-6 mb-8">
                             {{ description }}
                         </p>
                         <div class="flex flex-col md:flex-row md:items-center gap-2">
                            {{ if toggle }}
                            <a {{if !video_trigger}} href="{{ link }}" {{/if}} {{if video_trigger}} data-video-url="{{ link }}" {{/if}} {{if target_blank}} target="_blank" {{/if}}
                                class="{{if video_trigger}} video-popup-trigger {{/if}} cursor-pointer w-full z-[2] relative font-medium md:w-fit text-[#161616] bg-white rounded-[4px] px-4 h-[40px] flex items-center justify-center hover:bg-[rgba(255,255,255,0.8)] active:bg-[rgba(255,255,255,0.6)]">
                                {{ label }}
                            </a>
                        {{ /if }}
                        {{ if secondtoggle }}
                            <a {{if !secondvideo_trigger}} href="{{ secondlink }}" {{/if}}  {{if secondvideo_trigger}} data-video-url="{{ secondlink }}" {{/if}} {{if secondtarget_blank}} target="_blank" {{/if}}
                                class="{{if secondvideo_trigger}} video-popup-trigger {{/if}} cursor-pointer w-full z-[2] relative font-medium md:w-fit text-[#161616] bg-white rounded-[4px] px-4 h-[40px] flex items-center justify-center hover:bg-[rgba(255,255,255,0.8)] active:bg-[rgba(255,255,255,0.6)]">
                                {{ secondlabel }}
                            </a>
                        {{ /if }}
                         </div>
                     </div>
                 </div>
             {{ /slides }}
         </div>
         {{if slides:count > 1}}
         <!-- Add pagination for bullet navigation -->
         <div class="swiper-pagination hero-pagination pb-3"></div>
         {{/if}}
     </section>

     <!-- HERO SECTION ENDS -->
 {{ /if }}